<style>
  .search-btn {
    background-color: #fe424d;
    color: #fff;
    border-radius: 25px;
    padding: 0 1rem;
  }
  .search-btn:hover {
    background-color: #fe424d;
    color: #fff;
  }

  .search-btn i {
    display: inline;
    margin-right: 0.5rem;
  }

  .search-input {
    border-radius: 25px;
    padding: 0.5rem 3rem;
  }
</style>
<nav class="navbar navbar-expand-md bg-body-light border-bottom sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="/listings">
      <i class="fa-regular fa-compass"></i>
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavAltMarkup"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <!-- Search form: Default order 1, then order-lg-2 on large screens -->
      <div
        class="navbar-nav ms-auto mt-3 mt-md-0 mt-lg-0 order-1 order-md-2 order-lg-2"
      >
        <form
          class="d-flex needs-validation"
          role="search"
          action="/listings"
          novalidate
        >
          <input
            class="form-control me-2 search-input"
            type="search"
            placeholder="Search destinations"
            name="Search"
            required
          />
          <button class="btn search-btn" type="submit">
            <i class="fa-solid fa-magnifying-glass"></i>Search
          </button>
        </form>
      </div>

      <!-- Explore link: Default order 2, then order-lg-1 on large screens -->
      <div class="navbar-nav order-2 order-md-1 order-lg-1">
        <a class="nav-link" href="/listings">Explore</a>
      </div>

      <!-- Other links -->
      <div class="navbar-nav ms-auto order-3">
        <a class="nav-link" href="/listings/new">Airbnb your home</a>
        <% if(!currUser){ %>
        <a class="nav-link" href="/signup"><b>Sign Up</b></a>
        <a class="nav-link" href="/login"><b>Log In</b></a>
        <% } %> <% if(currUser){ %>
        <a class="nav-link" href="/logout">Log Out</a>
        <% } %>
      </div>
    </div>
  </div>
</nav>
